apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 846345203699.dkr.ecr.ap-south-2.amazonaws.com/backend:latest
          ports:
            - containerPort: 8080
